
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9a6a6;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  
  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 66px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }

  .photo-collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 30px;
  padding: 10px;
}

.photo-collage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
  
  .photo-collage img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  
  